BOT_TOKEN=your_token
ADMIN_TG_ID=tg_id

REDIS_MAX_CONNECTIONS=50
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

PG_DB=your_db
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=user
PG_PASSWORD=password
PG_MAX_CONNECTIONS=50

MATCH_TTL=10800
MATCH_REQUEST_TTL=300